h2{
    text-align: center;
    margin: 100px;
}

.formClass{
   width: 700px;
   position: relative;
   right: -300px;
}

button{
    margin-top: 50px;
   position: relative;
   left: -0px;
   width: 675px;
}
.account{
    display: flex;
    justify-content: center;
}
p{
    text-align: center;
    font-size: larger;
    color: green;
    background-color: aliceblue;
}