<app-header></app-header>
<router-outlet></router-outlet>

<div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h4 class="footer-title">About Us</h4>
            <p>We are a leading e-commerce platform dedicated to providing our customers with a seamless shopping experience.</p>
          </div>
          <div class="col-lg-4">
            <h4 class="footer-title">Contact Us</h4>
            <ul class="list-unstyled">
              <li>Phone: +1 123 456 7890</li>
              <li>Email: info@ourstore.com</li>
              <li>Address: 123 Main St, Anytown, USA</li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h4 class="footer-title">Follow Us</h4>
            <ul class="list-inline social-links">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="copyright">
          <p>Copyright &copy; {{year}} Our Store</p>
        </div>
      </div>
    </footer>
  </div>