h1{
    text-align: center;
    margin: 100px 0px 70px 0px;
}
h3{
    text-align: center;
}

button{
    margin: 40px 0px 50px 0px;
    width: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 140px;
}
.details{
    margin: 30px;
}

p{
    color: green;
    text-align: center;
}